aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
ltmain.sh
libtool
m4/
missing
Makefile
Makefile.in
stamp-h1
test-driver

*.o
*.lo
*.la
*.a
*.dll
*.so
*.so.*
*.dylib

rhasher
rhasher_getline
rhasher_readline

.deps/
.dirstamp
.libs/

test_basic.sh
test-suite.log
*.trs